#controle_container {
    float: left;
    width: 680px;
    height: 370px;
    background: white;
    border: 1px solid #00ffaa;
}

#layer_button{
    float: left;
    display: block;
    border: 1px solid #ff0000;
}

#mabutaLayer{
    float: left;
    border: 1px solid #0ff000;
}

#layer_button ul{
    display: block;
    width: 250px;
    text-align: right;
    border: 1px solid #ff0000;
}

#container5{
    min-height: 100px;
}

#kaoContainer {
    float: left;
    position: relative;
    background: white;
    width: 680px;
    height: 680px;
    border: 1px solid #000000;
}
#kaoCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #0022aa;
}
#mabutaCanvas {
    position: absolute;
    top: 0px;
    left: 180px;
    border: 1px solid #0022aa;
}

#canvasContainer {
    position: relative;
    background: white;
    border: 0px solid #000000;
    top: 0px;
    left: 180px;
}

.canvaslayer {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid #000000;
}

#parameter_set_container {
    border: 5px solid #003300;
    background: white;
}

.container {
    float: left;
    position: relative;
    margin-right: 10px;
    border: 3px solid #000000;
    min-height: 350px;
    margin-top: 10px;
}

.container p {
    position: absolute;
    font-size: 15px;
    text-orientation: upright;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin-left: 0px;
    margin-top: 10px;
}

.container span {
    font-size: 14px;
//    width: 100%;
    min-width: 290px;
    margin-left: 30px;
    display: block;
}
