#canvasContainer {
   position: relative;
   background: white;
   width: 660px;
   height: 680px;
    border: 1px solid #000000;
}

.canvaslayer {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #000000;
}

#parameter_set_container {
//    border: 4px solid #003300;
}

.container {
    float: left;
    position: relative;
    margin-right: 10px;
    border: 1px solid #00ff00;
    min-width: 285px;
    min-height: 430px;
}

.container p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 1px;
    margin-left 100px;
    min-width: 100%;
}

.container span {
    font-size: 14px;
    width: 100%;
    display:block;
}

#layer_button ul{
    width: 250px;
    text-align: right;
}